/* Centralizando a caixa de cadastro */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/img/fundo.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0;
}

/* Estilizando o card de cadastro */
.card {
    width: 476px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 40px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Aplicando a fonte ao título */
.titulo {
    text-align: center;
    font-size: 2.5rem;
    /* Altera o peso da fonte para a versão mais fina, como 200 (extra-light) ou 100 (thin) */
    font-weight: 100; 
    color: #444;
    font-family: 'Urbanist', sans-serif;
    margin: 0;
    margin-top: 5px; 
    margin-bottom: 5px;
}

/* Estilizando a linha divisória */
.divider {
    width: 80%; 
    height: 5px;
    background-color: #E8E8E8;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Estilizando o formulário */
.formulario {
    width: 100%;
}

/* Estilizando cada grupo de formulário (label + input) */
.form-group {
    margin-bottom: 10px;
}

/* Estilo para o label com asterisco */
.label-com-asterisco {
    color: #555;
    font-size: 0.9rem;
    margin-bottom: 8px;
    display: block;
    font-weight: bold;
}

/* Contêiner do campo de entrada para posicionar o ícone */
.input-icon-container {
    position: relative;
    display: flex;
    align-items: center;
}

/* Estilizando os campos de entrada */
.input-field {
    width: 100%;
    padding: 12px 15px;
    padding-right: 40px;
    background-color: #ffffff;
    border: 1px solid #D9D9D9;
    border-radius: 100px;
    color: #333;
    box-sizing: border-box;
}

/* Estilo para o placeholder do input */
.input-field::placeholder {
    color: #999;
}

/* Posição do ícone dentro do input */
.input-icon {
    position: absolute;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Centralizando o botão */
.button-group {
    margin-top: 20px;
    text-align: center;
}

/* Estilizando o botão de envio */
.button {
    width: 216px;
    height: 45px;
    padding: 15px 20px;
    border-radius: 8px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    font-size: 1rem;
    /* Remove a propriedade de negrito do botão */
    font-weight: normal; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

/* Estilo para o link de login */
.login-link {
    margin-top: 15px;
    font-size: 0.9rem;
    text-decoration: underline;
}

.login-link span {
    color: #000;
}

.login-link a {
    color: #000;
    text-decoration: underline;
    font-weight: bold;
}