/* Estilizando a barra superior */
.top-bar {
  width: 100%;
  height: 3.125rem; /* 50px */
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.25rem; /* 20px */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Estilizando o título dentro da barra superior */
.top-bar-title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Urbanist', sans-serif;
  margin: 0;
  /* Garante que o título esteja centralizado na barra */
  text-align: center;
}

/* Estilizando o contêiner principal da página "Sobre" */
.container-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Adiciona um padding no topo para o conteúdo não ficar por baixo da barra superior */
    padding-top: 3.125rem; 
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Urbanist', sans-serif;
    color: #444;
}

/* Estilizando o card da página "Sobre" */
.card-sobre {
    width: 800px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
}

/* Estilizando o título "Sobre a Loja" */
.titulo-sobre {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* Estilizando o texto de descrição */
.texto-sobre {
    font-size: 1rem;
    line-height: 1.6;
    margin: 20px 0;
    color: #666;
}

.home-icon-container {
    position: absolute;
    left: 1.25rem; /* 20px */
    cursor: pointer;
}

/* Estilizando a imagem do ícone de casa */
.home-icon-img {
    width: 40px;
    height: 40px;
}

/* Estilizando as seções de informação */
.informacoes {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

/* Estilizando cada seção (Localização e Contato) */
.secao {
    flex: 1;
    margin: 0 15px;
}

/* Estilizando os subtítulos */
.subtitulo {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.secao p {
    margin: 5px 0;
    color: #777;
}