@import url('https://fonts.googleapis.com/css2?family=Sansation:wght@300&display=swap');

:root {
  --background: #F7F7F7;
  --foreground: #000;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1, h2 {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}